{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <table class="table mb-4">
        <thead>
          <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Action</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

        {% for item in view_model.to_do_items %}
          <tr class="{{ 'warning' if item.status == 'To Do' else 'info' }}">
            <td>{{ item.name }}</td>
            <td>{{ item.status }}</td>
            <td>
              <form action="items/progress/{{item.id}}", method="POST">
                <input type="submit" value="Mark as doing" class="btn btn-info">
              </form>
              
            </td>
            <td>
              <form action="items/remove/{{item.id}}", method="POST">
                <input type="submit" value="Remove" class="btn btn-danger">
              </form>
            </td>
          </tr>
        {% endfor %}

        {% for item in view_model.doing_items %}
          <tr class="{{ 'warning' if item.status == 'To Do' else 'info' }}">
            <td>{{ item.name }}</td>
            <td>{{ item.status }}</td>
            <td>
              <form action="items/progress/{{item.id}}", method="POST">
                <input type="submit" value="Mark as done" class="btn btn-info">
              </form>
            </td>
            <td>
              <form action="items/remove/{{item.id}}", method="POST">
                <input type="submit" value="Remove" class="btn btn-danger">
              </form>
            </td>
          </tr>
        {% endfor %}

        {% for item in view_model.done_items %}
          <tr class="{{ 'warning' if item.status == 'To Do' else 'info' }}">
            <td>{{ item.name }}</td>
            <td>{{ item.status }}</td>
            <td></td>
            <td>
              <form action="items/remove/{{item.id}}", method="POST">
                <input type="submit" value="Remove" class="btn btn-danger">
              </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <h3>Add new item</h3>
  <form action="/items/add" method="POST" class="form-group">
    <div>
      <input type="text" id="title" name="title" placeholder="Title" required class="form-control">
    </div>
    <input type="submit" class="btn btn-info">
  </form>
{% endblock %}