{% extends "layout.html" %}
{% block title %}Strava App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Plot</h1>
  </div>
  <p>This graph shows your relative performance based on your personal best time as set on the main page. 
    Values less than 1 are equivalent to a worse-than-pb effort, while values above 1 are equivalent to a better-than-pb effort. 
    For sessions with multiple reps, it is expected that no single rep is above 1, otherwise you need to go out and get a new PB!</p>
  <div>
    {{ figure | safe }}
  </div>
{% endblock %}