{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Users</h2>
      <table class="table mb-4">
        <thead>
          <tr>
            <th>Username</th>
            <th>Role</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
        {% for user in view_model.users %}
          <tr class="warning" id="user-row-{{ user.id }}">
            <td id="user-name">{{ user.name }}</td>
            <td id="user-role">{{ user.role }}</td>
            <td>
                <form action="users/{{user.id}}/reader", method="POST">
                  <input type="submit" value="Make Reader" class="btn btn-success" id="reader-button">
                </form>
            </td>
            <td>
                <form action="users/{{user.id}}/writer", method="POST">
                  <input type="submit" value="Make Writer" class="btn btn-info" id="writer-button">
                </form>
            </td>
            <td>
                <form action="users/{{user.id}}/admin", method="POST">
                  <input type="submit" value="Make Admin" class="btn btn-warning" id="admin-button">
                </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
    </table>

    <form action="/", method="GET">
        <input type="submit" value="Return to items page" class="btn btn-primary" id="index-button">
    </form>
   
{% endblock %}